:root {

/*==================================================*/
/*===================== Cores ======================*/
/*==================================================*/

--verde-botao: #39B34A;
--verde-claro: #5BC166;
--verde-progresso: #CAD9CB;
--preto-titulo: #274333;
--corpo-de-texto: #4D4D4D;
--amarelo: #EDD15D;
--cinza: #95989A;
--verde-selecao: #2F8C47;
--cinza-menu: #748073;
--verde-busca: #71CC78;
--busca-2: #369530;
--bg: #F2F2F2;
--bg2: #FFFFFF;
--online: #81FD6C;
--caixa: #F9F9F9;
--borda: #555555;
--selecao: #F0F0F0;
--barra: #E4F2E4;
--barra2: #F9F1E5;
--icones: #5B8E7D;
--link: #2C9946;
--bg-forum: #E2E2E2;
--texto: #848484;
--menu: #226628;
--video: #EE6352;
--documento: #08B2E3;
--forum: #FC9F5B;
--jogo: #525B76;
--questionario: #7DCFB6;
--erro: #F5A524;
--vermelho: #C60C0F;
--contraste: #39794F;
--texto-chat: #CACACA;
--data-chat: #9FB29E;
--barra-chat: #235336;
--balao: #CAD9CB;
--escrever: #C9F5CF;
--sub: #84988C;

/*==================================================*/
/*================ Cores (Contraste) ===============*/
/*==================================================*/

--concluido; #40806A;
--verde: #008000;
--amarelo-contraste: #AA8F00;
--online-contraste: ##C9F227;
--selecao-contraste: ##708080;
--video-contraste: #DC143C;
--documento-contraste: #4B77BE;
--forum-contraste: #000036;
--jogo-contraste: #006080;
--questionario-contraste: #294429;
--erro-contraste: #9A5F00;
--ocupado: #E00000;
--barra-chat-contraste: #000000;
--balao-contraste: #019875;
--icones-chat: #7ED07E;
--bg-chat: #002A15;
--selecao-de-caixa: #0179D3;

}

/*==================================================*/
/*=============== Barra de Navegação ===============*/
/*==================================================*/
/* Altura da barra */
.navbar {
  max-height: 70px;
  height: 70px;
}

/* Conteúdo alinhado verticalmente no centro da barra */
.container-fluid {
  padding-top: 10px;
}

/* Barra completa */
.navbar-light {
  background-color: #5BC166;
  border-bottom: 1px solid #5BC166;
}

/* Botão do menu hamburguer */
.navbar-light .btn-secondary {
  color: #FFFFFF;
  background-color: #5BC166;
  border-color: #5BC166;
}

/* Área do Logo */
.navbar-light .navbar-brand {
  color: #fff;
  background-color: #5BC166;
  font-size: 24px;
  padding-top: 0px;
}

/* Dropdown de escolha do idioma */
.navbar-light .dropdown-menu {
  color: #FFFFFF;
  background-color: #5bc166;
  border: 1px solid #5bc166;
}

/* Item do dropdown de escolha do idioma */
.navbar-light .dropdown-menu .dropdown-item {
  color: #FFFFFF;
  border-bottom: 1px solid #5bc166;
}

/* [HOVER] Item do dropdown de escolha do idioma */
.navbar-light .dropdown-item:focus, .dropdown-item:hover {
  color: #FFFFFF;
  background-color: #39B34A;
}

/* Ícones de notificações da barra */
.navbar-light .icon {
  color: #FFFFFF;
}

/* Nome do usuário */
.navbar-light .usertext {
  font-size: 12px;
  color: #FFFFFF;
  line-height: 40px;
}

/* Avatar modificado para a esquerda do nome de usuário */
.navbar-light .avatars {
  float: left;
}

/*==================================================*/
/*====================== Menu ======================*/
/*==================================================*/

/* Menu background */
[data-region="drawer"] {
  padding: 20px 0;
  background-color: #FFFFFF;
  border-right: 2px solid #CAD9CB;
}

/* Itens do Menu */
#nav-drawer .list-group-item {
  padding: .75rem 2.25rem;
  background-color: #fff;
  border: none;
  font-size: 18px;
  color: #748073;
}

/* [HOVER] Itens do Menu */
#nav-drawer .list-group-item:hover {
  background-color: #F0F0F0;
}

#nav-drawer [data-type="0"]:hover {
  background-color: #FFFFFF;
}

/* Item do menu ativo */
#nav-drawer [data-isactive="1"] {
  border-left: 6px solid #2f8c47;
  padding: .75rem 1.8rem;
  color: #2f8c47;
  font-weight: normal;
}

/* Itens do menu sem border radius */
#nav-drawer .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#nav-drawer .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/*==================================================*/
/*================ Página principal ================*/
/*==================================================*/

/* Altura da margem do topo */
#page {
  margin-top: 70px;
}
