/*==================================================*/
/*====================== Cores =====================*/
/*==================================================*/

/* Header */ 
$header-background: #5BC166;
$header-searchbox: #71CC78;
$header-searchbox-text: #369530;
$header-icons: #FFFFFF;
$header-onlineuser-indicator: #81FD6C;

/*==================================================*/
/*===================== NavBar =====================*/
/*==================================================*/

/* Altura da barra */
.navbar {
    max-height: 70px;
    height: 70px;
}

/* Conteúdo alinhado verticalmente no centro da barra */
.container-fluid {
    padding-top: 6px;
}

/* Barra completa */
.navbar-light {
    background-color: $header-background !important;
    border-bottom: 1px solid $header-background;
}

/* Botão do menu hamburguer */
.navbar-light .btn-secondary {
    color: $header-icons;
    background-color: $header-background;
    border-color: $header-background;
}

/* Área do Logo */
.navbar-light .navbar-brand {
    color: $header-icons;
    background-color: $header-background;
    font-size: 24px;
    padding-top: 0px;
}

/* Escolha do idioma */
.navbar-nav .nav-item {
    display: none;
} 

/* Dropdown de escolha do idioma */
.navbar-light .dropdown-menu {
    color: $header-icons;
    background-color: $header-background;
    border: 1px solid $header-background;
}

/* Item do dropdown de escolha do idioma */
.navbar-light .dropdown-menu .dropdown-item {
    color: $header-icons;
    border-bottom: 1px solid $header-background;
}

/* [HOVER] Item do dropdown de escolha do idioma */
.navbar-light .dropdown-item:focus, .dropdown-item:hover {
    color: $header-icons;
    background-color: #39B34A;
}

#header-searchbox {
    position: absolute;
    width: 95%;
    text-align: center;
}

#header-searchbox input {
    border-style: none;
    height: 32px;
    width: 350px;
    background-color: $header-searchbox;
    padding-left: 20px;
    color: $header-searchbox-text;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-top: 2px;
    border-radius: 4px;
}

#header-searchbox input::placeholder {
    color: $header-searchbox-text;
}

#header-searchbox input:focus {
    border-color: $header-searchbox-text;
}

/* Ícones de notificações da barra */
.navbar-light .icon {
    color: $header-icons;
    font-size: 20px;
}

/* Nome do usuário */
.navbar-light .usertext {
    font-size: 12px;
    color: $header-icons;
    line-height: 40px;
}

/* Avatar modificado para a esquerda do nome de usuário */
.navbar-light .avatars {
    float: left;
}
