<div id="mhub">
<header>
    <div id='header_filter'>
        <ul id='filter_menu'>
            <li><a href=''>Todos</a></li>
            <li v-for="category in categories"><a :href='category.url'>{{ category.description }}</a></li>
        </ul>
        <div>
        </div>
        <div id='filter_search_btn'><i class='fa fa-search' aria-hidden='true'></i></div>
    </div>
</header>

<aside>
    <div class='category' v-for="category in categories">
        <div class='category_title'><a :href='category.url'>{{ category.description }}<i class='fa fa-arrow-right' aria-hidden='true'></i></a></div>
        <div class='courses_cards'>
            <div class='courses_cards_inner'>
                <div class='course_card' v-for='course in category.courses'>
                    <a :href='course.see'><img :src='course.thumbnail' /></a>
                    <div class='course_info'>
                        <div class='course_title'>
                            <a :href='course.see'>{{ course.title}}</a>
                        </div>
                        <div class='course_footer'>
                            <div class='course_duration'>
                                Duração: <span>[{{ course.duration }}]</span>
                            </div>
                            <div class='course_enrol'><a :href='course.enrol'>Inscreva-se</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="/teste/theme/ead/js/mhub.js"></script>
