
body {
    background-color: #F2F2F2;
}

.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #39B34A;
    border-color: #39B34A;
}


.btn-primary:hover,
.btn-primary:active {
    background-color: #235336;
    border-color: #235336;
}


.btn-secondary,
.btn-default {
    color: #39B34A;
    background-color: #fff;
    border-color: #39B34A;
}


.btn-secondary:hover,
.btn-default:hover {
    color: #235336;
    background-color: #fff;
    border-color: #235336;
}


.btn-default.active,
.btn-default.active:focus,
.btn-default.active:hover {
    color: #fff;
    background-color: #39B34A;
    border-color: #39B34A;
}

.initialbar .letter.active {
    color: #fff;
    border-color: #5bc166;
    background-color: #5bc166;
}

.initialbar .letter {
    color: #274333;
}

.initialbar .letter:hover {
    color: #274333;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
    background-color: #5bc166;
    border-color: #5bc166;
}

.page-link {
    color: #274333;
}

.page-link:focus,
.page-link:hover {
    color: #274333;
}

.card-title {
    color: #274333;
}

a {
    color: #39B34A;
}

a:hover {
    color: #235336;
}

a .icon {
    color: #373a3c;
}

.text-primary {
    color: #39B34A !important;
}

.card-header {
    border-bottom-color: rgb(202, 217, 203) !important;
}

.message-app a,
.message-app .btn-link {
    color: #748073;
}

.border-bottom {
    border-bottom-color: #cad9cb!important;
}
