$header-background: #5BC166;
$header-searchbox: #71CC78;
$header-searchbox-text: #369530;
$header-searchbox-text-focus: #778073;
$header-icons: #FFFFFF;
$header-onlineuser-indicator: #81FD6C;
$header-message-popover-background: #274333;
$header-message-popover-background-hover: #39794F;
$header-message-popover-text: #CACACA;

.navbar-light {
    background-color: $header-background !important;
    border-bottom-color: $header-background;
}

.navbar-light .btn-secondary {
    color: $header-icons;
    background-color: $header-background;
    border-color: $header-background;
}

.navbar-light .navbar-brand {
    color: $header-icons;
    background-color: $header-background;
}


#navbar_pagetitle {
    color: #fff;
}

.navbar-light .icon {
    color: $header-icons;
}

.navbar .count-container {
    background-color: #C60C0F;
}

.navbar-light .usertext {
    color: $header-icons;
}

.navbar-static-top .dropdown .dropdown-menu {
    background: #F2F2F2;
}

.navbar-light .dropdown-menu .dropdown-item {
    color: #344537;
}

.navbar-light .dropdown-menu .dropdown-item i {
    color: #344537;
}

.navbar .popover-region-container {
    background: $header-message-popover-background;
}

.navbar .content-item-container {
    background: $header-message-popover-background !important;
    color: $header-message-popover-text;
}

.navbar .content-item-container:hover {
    background: $header-message-popover-background-hover !important;
    color: $header-icons;
}

.popover-region-notifications .empty-message {
    color: $header-message-popover-text;
}

.popover-region-toggle::before {
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: header-message-popover-background;
}

.popover-region-toggle::after {
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: $header-message-popover-background;
}

.breadcrumb {
    background-color: transparent;
}
