$menu-background: #FFFFFF;
$menu-item-font: #748073;
$menu-selected-item-font: #2F8C47;
$menu-item-hover: #F0F0F0;
$menu-divisor-background: #F2F2F2;
$menu-borders: #CAD9CB;

[data-region="drawer"] {
    background-color: $menu-background;
    border-right-color: $menu-borders;
}

.login_ead{
    background-color: #005F0A;
    color: #fff;
}

.login_ead:hover{
    color: #005F0A;
    background-color: #fff;
}

#nav-drawer .list-group-item {
    background-color: $menu-background;
    color: $menu-item-font;
}

#nav-drawer .list-group-item:hover {
    background-color: $menu-item-hover;
}

#nav-drawer [data-type="0"]:hover {
    background-color: $menu-background;
}

#nav-drawer [data-isactive="1"] {
    border-left-color: $menu-selected-item-font;
    color: $menu-selected-item-font;
}

#nav-drawer [data-key="calendar"] {
    background: $menu-item-hover;
    border-bottom-color: $menu-borders;
    border-top-color: $menu-borders;
}

.aside-calendar a {
    color: #748073;
}

.aside-calendar li {
    color: #748073;
}

#sem-eventos {
    color: #748073;
}

.nomes-cursos h4 {
    color: #4D4D4D;
}

.nomes-cursos i {
    color: #4D4D4D;
}

#nav-drawer .blocos-fixos {
    border-top-color: #cad9cb;
}
