/*====================== Cores =====================*/
// #header_top {
//     background-color: #5bc166;
//     height: 40px;
//     padding: 15px 40px;
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 1000;
//     box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.41);
// }
// #top_menu {
//     list-style: none;
//     float: right;
// }
// #top_menu li {
//     float: left;
//     width: 40px;
//     height: 40px;
//     margin: 0 8px;
// }
// #top_menu li:last-child {
//     float: left;
//     width: 40px;
//     height: 40px;
//     margin: 0 0 0 12px;
// }
// #top_menu li a {
//     line-height: 40px;
//     font-size: 25px;
//     color: #fff;
//     padding: 0 10px;
// }
// #top_user_picture {
//     border-radius: 100%;
//     width: 40px;
//     height: 40px;
// }
// #header_filter {
//     margin-top: 70px;
//     padding: 0 40px;
//     height: 50px;
//     background-color: #fff;
// }
// #filter_menu {
//     list-style: none;
//     float: left;
// }
// #filter_menu li {
//     float: left;
//     height: 40px;
//     margin: 7px 8px 0 0;
//     line-height: 40px;
//     font-size: 9pt;
// }
// #filter_menu li a, #filter_menu li a:visited {
//     text-decoration: none;
// }
// #filter_menu li a:active, #filter_menu li a:hover {
//     text-decoration: underline;
// }
// #filter_search_btn {
//     float: right; 
//     line-height: 50px; 
//     border-left: 2px solid #EDEDED; 
//     padding-left: 20px;
// }
.category {
    color: #000;
}
.category:first-child {
    color: #fff;
    background-color: rgba(72,72,72,255);
}
.category_title a, .category_title a:visited {
    color: #6a6a6a;
}
.category_title a:hover {
    color: #5bc166;
}
.category:first-child .category_title a, .category:first-child .category_title a:visited {
    color: #fff;
}
.category:first-child .category_title a:hover {
    color: #5bc166;
}
.course_info {
    background-color: #fff;
}
.course_title a, .course_title a:visited {
    color: #000;
}
.course_title a:hover {
    color: #5bc166;
}
.course_duration {
    color: #959595;
}
.course_enrol a, .course_enrol a:visited {
    color: #5bc166;
}
