{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_ead/navbar}}
                    {{{ output.main_content }}}
    {{{ output.standard_after_main_region_html }}}
</div>

{{> theme_boost/footer }}

</body>
</html>