{{#in_course_page}}
    <nav class="list-group">
        {{#course}}
            <h4>{{fullname}}</h4>
            <i>{{shortname}}</i>
        {{/course}}
    </nav>
    {{# flatnavigation }}
    <nav class="list-group m-t-1">
        {{#action}}
            <a class="list-group-item list-group-item-action {{#isactive}}font-weight-bold{{/isactive}}" href="{{{action}}}" data-key="{{key}}" data-isexpandable="{{isexpandable}}" data-indent="{{get_indent}}" data-showdivider="{{showdivider}}" data-type="{{type}}" data-nodetype="{{nodetype}}" data-collapse="{{collapse}}" data-forceopen="{{forceopen}}" data-isactive="{{isactive}}" data-hidden="{{hidden}}" data-preceedwithhr="{{preceedwithhr}}" {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}}>
                <div class="m-l-{{get_indent}}">
                    {{#is_section}}
                        <div class="media">
                            <span class="media-left">{{#pix}}i/folder{{/pix}}</span>
                            <span class="media-body">{{{text}}}</span>
                        </div>
                    {{/is_section}}
                    {{^is_section}}
                        {{{text}}}
                    {{/is_section}}
                </div>
            </a>
            {{/action}}
            {{^action}}
            <div class="list-group-item" data-key="{{key}}" data-isexpandable="{{isexpandable}}" data-indent="{{get_indent}}" data-showdivider="{{showdivider}}" data-type="{{type}}" data-nodetype="{{nodetype}}" data-collapse="{{collapse}}" data-forceopen="{{forceopen}}" data-isactive="{{isactive}}" data-hidden="{{hidden}}" data-preceedwithhr="{{preceedwithhr}}" {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}}>
                <div class="m-l-{{get_indent}}">
                    {{#is_section}}
                        {{#pix}}i/folder{{/pix}}
                    {{/is_section}}
                    {{{text}}}
                </div>
            </div>
        {{/action}}
    {{/flatnavigation }}
{{/in_course_page}}

{{^in_course_page}}
    <nav class="list-group">
        <a class="list-group-item list-group-item-action" href="http://localhost/academico/mural/" data-isactive="0" data-key='myhome'>
            <div class="m-l-0">Mural</div>
        </a>

        <a class="list-group-item list-group-item-action" href="http://localhost/academico/my/" data-isactive="1" data-key='salas'>
            <div class="m-l-0">Salas de aula</div>
        </a>

        <a class="list-group-item list-group-item-action" href="http://localhost/academico/secretaria/" data-isactive="0" data-key='secretaria-sem-resposta'>
            <div class="m-l-0">Secretaria</div>
        </a>
    </nav>
{{/in_course_page}}

<nav class="list-group">
    <a class="list-group-item list-group-item-action " href="http://localhost/academico/calendar/view.php?view=month" data-key="calendar" data-type="60" data-isactive="0">
        <div class="m-l-0">Calendário</div>
    </a>
    <div>
        <dl class="aside-calendar item">
            {{#nosso_calendario}}
            <dt><a href="{{viewurl}}">{{shortdate_dia}}<br><span>{{shortdate_mes}}</span></a></dt>
            <dd>
                <ul>{{#events}}<li>{{name}}<br><br></li>{{/events}}</ul>
            </dd>
            <hr>
            {{/nosso_calendario}}
        </dl>
    </div>
</nav>
