
<nav class="list-group">
{{# flatnavigation }}
    {{#showdivider}}
</nav>
<nav class="list-group m-t-1">
    {{/showdivider}}
    {{#action}}
    <a class="list-group-item list-group-item-action {{#isactive}}font-weight-bold{{/isactive}}" href="{{{action}}}" data-key="{{key}}" data-isexpandable="{{isexpandable}}" data-indent="{{get_indent}}" data-showdivider="{{showdivider}}" data-type="{{type}}" data-nodetype="{{nodetype}}" data-collapse="{{collapse}}" data-forceopen="{{forceopen}}" data-isactive="{{isactive}}" data-hidden="{{hidden}}" data-preceedwithhr="{{preceedwithhr}}" {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}}>
        <div class="m-l-{{get_indent}}">
            {{#is_section}}
                <div class="media">
                    <span class="media-left">
                        {{#pix}}i/folder{{/pix}}
                    </span>
                    <span class="media-body">{{{text}}}</span>
                </div>
            {{/is_section}}
            {{^is_section}}
                {{{text}}}
            {{/is_section}}
        </div>
    </a>
    {{/action}}
    {{^action}}
    <div class="list-group-item" data-key="{{key}}" data-isexpandable="{{isexpandable}}" data-indent="{{get_indent}}" data-showdivider="{{showdivider}}" data-type="{{type}}" data-nodetype="{{nodetype}}" data-collapse="{{collapse}}" data-forceopen="{{forceopen}}" data-isactive="{{isactive}}" data-hidden="{{hidden}}" data-preceedwithhr="{{preceedwithhr}}" {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}}>
        <div class="m-l-{{get_indent}}">
            {{#is_section}}
                {{#pix}}i/folder{{/pix}}
            {{/is_section}}
            {{{text}}}
        </div>
    </div>
    {{/action}}
{{/ flatnavigation }}
</nav>
