//==================================================
//===================== Core =======================
//==================================================
$core-body-bg : #ebeced;

$core-btn-primary-fg: #fff;
$core-btn-primary-bg: #39b34a;
$core-btn-primary-bc: #39b34a;
$core-btn-primary-hover-fg: #fff;
$core-btn-primary-hover-bg: #235336;
$core-btn-primary-hover-bc: #235336;

$core-btn-secondary-fg: #39b34a;
$core-btn-secondary-bg: #fff;
$core-btn-secondary-bc: #39b34a;
$core-btn-secondary-hover-fg: #fff;
$core-btn-secondary-hover-bg: #235336;
$core-btn-secondary-hover-bc: #235336;

$core-btn-default-fg: #39b34a;
$core-btn-default-bg: #fff;
$core-btn-default-bc: #39b34a;
$core-btn-default-hover-fg: #fff;
$core-btn-default-hover-bg: #235336;
$core-btn-default-hover-bc: #235336;

$core-link-fg: #39b34a;
$core-link-hover-fg: #235336;
$core-link-icon-fg: #39b34a;
$core-text-primary-fg: #39b34a !important;


//==================================================
//===================== header =====================
//==================================================
// header
$header-bg: #5bc166;
$header-fg: #fff;
$header-count-bg: #c60c0f;
$header-count-fg: #fff;

// header - search box
$header-searchbox-fg: #fff;
$header-searchbox-bg: #ccc14d;
$header-searchbox-hover-fg: #ccc14d;
$header-searchbox-hover-bg: #fff;


// header - user drawer
$header-onlineuser-indicator: #81fd6c;
$header-dropdown-menu-bg: #f2f2f2;
$header-dropdown-menuitem-fg: #344537;
$header-dropdown-menuitem-icon-fg: #344537;

// notification
$header-notification-empty-fg: #344537;
$header-notification-fg: #fff;
$header-notification-bg: #344537;
$header-notification-bc: #344537;

// chat
$chat-navbar-light-icon-bg: #096b14;
$chat-navbar-light-icon-bg-hover-bg: #fff;


//==================================================
//====================== drawer ====================
//==================================================
$drawer-fg: #fff155;
$drawer-bg: #ffffff;
$drawer-bc: #cad9cb;
$drawer-item-fg: #fff155;
$drawer-item-bg: #ffffff;
$drawer-item-bc: trasparent;
$drawer-item-hover-fg: #ffffff;
$drawer-item-hover-bg: #fff155;
$drawer-item-hover-bc: #fff155;
$drawer-item-active-fg: #fff155;
$drawer-item-active-bg: #fff155;
$drawer-item-active-bc: #fff155;


//==================================================
//===================== page =====================
//==================================================
$page-link-fg: #39b34a;
$page-link-bg: #fff;
$page-link-bc: #39b34a;
$page-link-hover-fg: #096b14;
$page-link-hover-bg: #fff;
$page-link-hover-bc: #096b14;

$page-header-btn-fg: #274333;
$page-header-btn-bg: transparent;
$page-header-btn-bc: transparent;
$page-header-btn-hover-fg: #2F8C47;
$page-header-btn-hover-bg: transparent;
$page-header-btn-hover-bc: transparent;


// $ead-body-bg: #ebeced;
// $ead-nocolor: #fff;

// $ead-counter: #c60c0f;
// $ead-counter-font: #fff;

// $ead-userdrawer: #f2f2f2;
// $ead-userdrawer-font: #344537;

// $ead-chat: #3b3a0c;
// $ead-chat-font: #c7c7c7;

// $ead-chat-message: #43421e;
// $ead-chat-message-font: #9e9e93;
// $ead-chat-message-hover: #fbf2a0;
// $ead-chat-message-hover-font: #373735;

//==================================================
//================== Frontpage =====================
//==================================================
$frontpage-filter-bg: #fff;

$frontpage-category-fg: #6a6a6a;
$frontpage-category-first-fg: #fff;
$frontpage-category-first-bg: #484848;
$frontpage-category-first-title-fg: #fff;
$frontpage-category-first-title-hover-fg: #39b34a;
$frontpage-category-card-first-shadow: rgba(255,255,255,.27);

$frontpage-category-title-fg: #6a6a6a;
$frontpage-category-title-hover-fg: #39b34a;
$frontpage-category-card-shadow: rgba(0,0,0,.27);

$frontpage-course-info-bg: #fff;
$frontpage-course-title-fg: #000;
$frontpage-course-title-hover-fg: #39b34a;
$frontpage-course-duration-fg: #959595;
$frontpage-course-enrol-fg: #39b34a;

$frontpage-filter-search-btn-fg: #fff;
$frontpage-filter-search-btn-bg: #39b34a;
$frontpage-filter-search-btn-bc: transparent;

$frontpage-login-fg: #fff;
$frontpage-login-bg: #096b14;
$frontpage-login-hover-fg: #096b14;
$frontpage-login-hover-bg: #fff;

$core-card-title-fg: #212529;
$core-card-title-bg: #f2f2f2;

$core-card-block-bc: #fff;

@import "ead";
