//==================================================
//=================== Block ========================
//==================================================

[data-region="blocks-column"] {
    display: none;
}
#region-main-settings-menu.has-blocks, #region-main.has-blocks {
    width: 100%;
}

.pagelayout-mydashboard .card {
    border: 3px solid $core-card-block-bc;
    border-radius: 5px;
}

.pagelayout-mydashboard .card.card-block {
    background: transparent;
    border: none;
}

.pagelayout-mydashboard [role=main] .block-region .block {
    border: 1px solid #fff;
    border-radius: 5px;
}
