//==================================================
//================ Página principal ================
//==================================================
#page {
    margin-top: 0px;
}
.page-link {
    color: $page-link-fg;
    background-color: $page-link-bg;
    border-color: $page-link-bc;
}

.page-link:hover, .page-link:focus, .page-link:active {
    color: $page-link-hover-fg;
    background-color: $page-link-hover-bg;
    border-color: $page-link-hover-bc;
}

.course-content ul li.section.main {
    border-bottom: none;
}

#region-main {
    border: none;
    border-radius: 0;
    padding: .5rem;
}

#region-main .card.card-block {
    border: none;    
}