//==================================================
//================ Página principal ================
//==================================================
#page {
    margin-top: 0px;
}
.page-link {
    color: $page-link-fg;
    background-color: $page-link-bg;
    border-color: $page-link-bc;
}

.page-link:hover, .page-link:focus, .page-link:active {
    color: $page-link-hover-fg;
    background-color: $page-link-hover-bg;
    border-color: $page-link-hover-bc;
}
