//==================================================
//===================== NavBar =====================
//==================================================

// Altura da barra 
.navbar {
    max-height: 70px;
    height: 70px;
}

// Conteúdo alinhado verticalmente no centro da barra 
.container-fluid {
    padding-top: 6px;
}

// Barra completa 
.navbar-light {
    background-color: $header-bg !important;
    border-bottom: 1px solid $header-bg;
    z-index: 1000;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.41);
}

// Botão do menu hamburguer 
.navbar-light .btn-secondary {
    color: $header-fg;
    background-color: $header-bg;
    border-color: $header-bg;
}

// Área do Logo 
.navbar-light .navbar-brand {
    color: $header-fg;
    background-color: $header-bg;
    font-size: 24px;
    padding-top: 0px;
    margin-left: 10px;
}

// Tipo da página  
#navbar_pagetitle {
    font-size: 24px;
    color: $header-count-fg;
    text-align: left;
    line-height: 1.6;
    margin-left: 120px;
    margin-top: 10px;
}

// Ícones da barra 
.navbar-light .icon {
    color: $header-navbar-icon-fg;
    font-size: 24px;
}

img.userpicture:hover{
    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
 }

 .navbar-light .icon:hover {
    color: $header-navbar-icon-hover-fg;
    font-size: 24px;
}

// Botão tipo de linguagem 
li.dropdown.nav-item {
    display: none;
}

// Margin entre os ícones  
.navbar-light .navbar-nav .nav-link {
    margin: 0 15px 0 -7px;
    height: 24px;
}

.navbar .popover-region-toggle {
    width: 30px; 
}

// Icones - Counter
.navbar .count-container {
    border-radius: 10px;
    background-color: $header-count-bg;
    color: $header-count-fg;
    line-height: 12px;
    width: 15px;
    height: 15px;
    font-weight: bold;
    text-align: center;
    padding: 1px 0;
}

@import "ead/header-notification";
@import "ead/header-usermenu";
@import "ead/header-message";
