/*==================================================*/


/*====================== Cores =====================*/
// #header_top {
//     background-color: #5bc166;
//     height: 40px;
//     padding: 15px 40px;
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 1000;
//     box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.41);
// }
// #top_menu {
//     list-style: none;
//     float: right;
// }
// #top_menu li {
//     float: left;
//     width: 40px;
//     height: 40px;
//     margin: 0 8px;
// }
// #top_menu li:last-child {
//     float: left;
//     width: 40px;
//     height: 40px;
//     margin: 0 0 0 12px;
// }
// #top_menu li a {
//     line-height: 40px;
//     font-size: 25px;
//     color: #fff;
//     padding: 0 10px;
// }
// #top_user_picture {
//     border-radius: 100%;
//     width: 40px;
//     height: 40px;
// }
// #header_filter {
//     margin-top: 70px;
//     padding: 0 40px;
//     height: 50px;
//     background-color: #fff;
// }
// #filter_menu {
//     list-style: none;
//     float: left;
// }
// #filter_menu li {
//     float: left;
//     height: 40px;
//     margin: 7px 8px 0 0;
//     line-height: 40px;
//     font-size: 9pt;
// }
// #filter_menu li a, #filter_menu li a:visited {
//     text-decoration: none;
// }
// #filter_menu li a:active, #filter_menu li a:hover {
//     text-decoration: underline;
// }
// #filter_search_btn {
//     float: right; 
//     line-height: 50px; 
//     border-left: 2px solid #EDEDED; 
//     padding-left: 20px;
// }
.category {
    padding: 17px 40px;
    color: #000;
    font-size: 9pt;
}
.category:first-child {
    color: #fff;
    background: rgba(72,72,72,255);
    margin: 0 0 17px 0;
}
.category_title {
    text-transform: uppercase;
    margin-bottom: 17px;
}
.category_title a, .category_title a:visited {
    color: #6a6a6a;
    text-decoration: none;
}
.category_title a:hover {
    color: #5bc166;
}
.category:first-child .category_title a, .category:first-child .category_title a:visited {
    color: #fff;
}
.category:first-child .category_title a:hover {
    color: #5bc166;
}
.category_title i {
    font-size: 10pt;
    margin-left: 10px;
}
.courses_cards {
    height: 221px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
.courses_cards_inner {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    padding-bottom: 10px;
}
.course_card {
    width: 212px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 26px;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.27);
    white-space: normal;
}
.course_card img {
    width: 212px;
    height: 120px;
    border-radius: 4px 4px 0 0;
}
.course_info {
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 0 0 4px 4px;
}
.course_title {
    min-height: 50px;
}
.course_title a, .course_title a:visited {
    font-size: 12pt;
    color: #000;
    text-decoration: none;
}
.course_title a:hover {
    color: #5bc166;
}
.course_footer {
    margin: 15px 0 5px 0;
}
.course_duration {
    width: 49%;
    color: #959595;
    font-size: 7pt;
    display: inline-block;
}
.course_enrol {
    display: inline-block;
    width: 49%;
    text-align: right;
    font-size: 10pt;
    text-transform: uppercase;
}
.course_enrol a, .course_enrol a:visited {
    text-decoration: none;
    color: #5bc166;
    font-size: 8pt;
}
footer {
    margin: 50px 0 0 0;
    font-size: 9pt;
    padding: 17px 40px;
    text-align: center;
    background-color: rgba(45,118,129,255);
    color: #fff;
}
