//==================================================
//============ Page layout: mypublic ==============
//==================================================

.pagelayout-mypublic {
    margin-left: 0 !important;

    & #nav-drawer{ display: none !important; }
    & #maincontent { display: none !important; }
    & #page { padding: 0; margin: 0; }
    & #page-content { width: 100%; padding: 0; margin: 3em auto 0 auto; }
    & #region-main-box { margin: 0; padding: 0; }
    & #region-main { padding: 0; margin: 0; }    
    & [data-region=drawer-toggle] { display: none !important; }
    & #page { max-width: 760px; margin: auto;}
    & #page-header div { display: none; }
    & #region-main { overflow-x: unset; }
    & .progress{ background-color: lightcoral; height: 21px;}
    & .progress-bar{ background-color: lightseagreen;}
    & .progress-bar-label{ position: absolute; left: 0; right: 0;}
    & .no-progress{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: lightcoral;
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
        text-align: center;
    }
    & .page-context-header {
        display: none !important;
    }
}

.path-user {
    & .page-context-header {display: none;}
    // & #region-main {background: unset; padding: 3em 0 0 0;}
    & .progress{ background-color: lightcoral; height: 21px;}
    & .progress-bar{ background-color: lightseagreen;}
    & .progress-bar-label{ position: absolute; left: 0; right: 0;}
}

.path-user.pagelayout-standard {
    & #region-main {background: unset; padding: 3em 0 0 0;}
}
.path-user.pagelayout-incourse  {
    & #region-main {padding: 0;}
}

#profile_photo  {
    max-width: 160px;
    width: 160px;
    height: 160px;
    max-height: 160px;
    border-radius: 50%;
    margin: 0 auto -3em auto;
    position: relative;
    top: -50px;
    display: block;
}

.profile_body {
    margin: 1em;
    & h2 {
        margin-bottom: 0;
    }
}
