//==================================================
//========== Page layout: My dashboard =============
//==================================================
.pagelayout-mydashboard {
    margin-left: 0 !important;

    & #nav-drawer{ display: none !important; }
    & [data-region=drawer-toggle] { display: none !important; }
}
